@warn-color: #DB4040;
@primary-color: #1890ff;
@border-color: #ddd;

body {
  margin: 0;
  height: 100vh;
}

:global .form-view {
  min-height: 100%;
  min-width: 778px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);

  & .scroll-wrapper {
    height: 100%;
  }

  & .form-head {
    position: relative;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 20px 10px 12px;
    word-wrap: break-word;
    word-break: break-all;
  }

  & .form-content {
    display: flex;
    min-height: 700px;
    padding: 10px;
  }

  & .columnLayout {
    display: table;
    width: 100%;
    table-layout: fixed;
    border: 1px solid @primary-color;
  }

  & .layout-tool-bar {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
    line-height: 20px;
    -webkit-transition: opacity linear 0.15s;
    -moz-transition: opacity linear 0.15s;
    transition: opacity linear 0.15s;

    & .fm-btn {
      margin-left: 1px;
      padding: 0 5px;
      color: #fff;
      font-size: 12px;
      text-align: center;
      background: @primary-color;
      cursor: pointer;
    }
  }

  & .fm-btn-del {
    font-size: 18px;
    background: @warn-color !important;
    cursor: pointer;
  }

  & .formPlaceholder,
  & .form-placeholder-filed {
    height: 80px;
    border: 2px dashed @warn-color;
  }

  & .ui-sortable {
    width: 100%;
    min-height: 50px;
  }

  & .component {
    position: relative;
    cursor: pointer;

    &.active {
      background: #fff8dc;
      border: 1px dashed #000 !important;

      & .fm-btn-remove {
        display: block !important;
      }
    }
  }

  & .component-layout {
    position: relative;
    display: flex;
    margin-bottom: -1px;
    border-right: 1px dashed rgba(0, 0, 0, 0);
    border-top: 1px dashed rgba(0, 0, 0, 0);
    border-left: 1px dashed rgba(0, 0, 0, 0);
    border-bottom: 1px dashed @border-color;
    cursor: pointer;
    min-height: 60px;

    &:first-child {
      border: 1px dashed @border-color;
    }

    & .component-layout:first-child {
      border-top: none;
    }


    & .flex-column {
      display: flex;
      flex-direction: column;
    }

    & .flex-row {
      display: flex;
      flex-direction: row;
    }
  }

  & .column-layout {
    display: table;
    width: 100%;
    table-layout: fixed;


    & .cell {
      display: table-cell;
      height: 50px;
      vertical-align: top;
      border-right: 1px dashed rgba(0, 0, 0, 0);
      border-top: 1px dashed rgba(0, 0, 0, 0);
      border-bottom: 1px dashed rgba(0, 0, 0, 0);
      border-left: 1px dashed @border-color;
    }

    & .cell:first-child {
      border-left: none !important;
    }
  }

  & .component-field {
    position: relative;
    background: #fff;
    padding: 14px;

    border-right: 1px dashed rgba(0, 0, 0, 0);
    border-top: 1px dashed rgba(0, 0, 0, 0);
    border-left: 1px dashed rgba(0, 0, 0, 0);
    border-bottom: 1px dashed @border-color;;

    & .fm-btn-remove {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      display: none;
      color: #d14836;
      font-size: 14px;
      cursor: pointer;
    }

    & .field-title {
      float: left;
      width: 80px;
      margin-top: 5px;
      text-align: right;
    }

    & .field-content {
      position: relative;
      min-height: 30px;
      margin-left: 90px;
    }
  }

  & .component-field,
  & .component-layout {
    &.active {
      background: #fff8dc;
      border-color: #ddd;
    }
  }
}

:global .form-designer {
  display: flex;
  height: 100%;
  background: #f0f2f5;
  justify-content: space-between;

  .form-view-wrapper {
    flex: 1;
    height: 100%;
    overflow-y: auto;
  }

  .form-editor {
    padding-left: 20px;
    padding-right: 20px;
    border-left: 1px solid #efefef;
    background: white;
    width: 450px;

    .ant-tabs-nav-wrap {
      justify-content: center;
    }
  }

  .form-widget {
    border-right: 1px solid #efefef;
    background: white;

    .ant-tabs-nav-wrap {
      justify-content: center;
    }
  }
}

